{% extends "base.twig" %}

{% block content %}

<main class="news-article-page">

<div class="global_border"></div>

<section class="hero hero_middle hero_half">
  <div class="hero_content">
    <h1 class="heading_large">
      <div class="fade-in">
        <div data-aos="fade-down" data-aos-once="true" data-aos-easing="ease-in-out-quart" data-aos-duration="750" data-aos-delay="0">{{news_title}}</div>
      </div>
    </h1>
  </div>
  <div class="hero_bg" style="background-image: url({{news_image}})" data-aos="zoom-out" data-aos-once="true" data-aos-easing="ease-in-out-quart" data-aos-duration="750"></div>
</section>
<section class="news-article">
  <div class="line hidden vertical ttb"><span></span></div>
  <div class="line hidden vertical btt"><span></span></div>
  <div class="container">
    <section class="news-article_content" data-aos="fade-up" data-aos-once="true" data-aos-easing="ease-in-out-quart" data-aos-duration="750">
      <h1 class="heading heading_big" >{{title}}</h1>
      <time >{{post_date}}</time>
      {{post_content}}
    </section>
    <div class="line hidden rtl m-hide"><span></span></div>
    <div class="line hidden ltr"><span></span></div>
    <footer class="news-article_actions">
      <nav class="news-article_actions_share" data-aos="fade-right" data-aos-once="true" data-aos-easing="ease-in-out-quart" data-aos-duration="750">
        <h4 class="heading_standard">Share</h4>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{social_url}}" target="_blank" class="news-article_actions_share_linked-in">
          <svg width="194px" height="184px" viewBox="0 0 194 184" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M3.304,59.65 L3.304,183.57 L44.754,183.57 L44.754,59.65 L3.304,59.65 Z M40.984,6.07 C36.4552281,1.89124214 30.4390372,-0.295481159 24.284,1.07543488e-12 C18.0759576,-0.269088016 12.0105572,1.91072134 7.394,6.07 C3.12354361,10.0008729 0.763957692,15.5880222 0.924,21.39 C0.780118375,27.1301926 3.05966263,32.6657101 7.204,36.64 C11.6716863,40.8390882 17.6491386,43.0504209 23.774,42.77 L24.034,42.77 C30.2880371,43.0531898 36.3999093,40.8493206 41.034,36.64 C45.2792621,32.7300953 47.5996894,27.1574156 47.384,21.39 C47.4672144,15.6168251 45.1493075,10.0683355 40.984,6.07 L40.984,6.07 Z M180.824,71 C171.931581,61.4583751 159.315963,56.2755256 146.284,56.81 C141.422394,56.7518905 136.578235,57.4020454 131.904,58.74 C127.954022,59.8577243 124.247263,61.7026254 120.974,64.18 C116.051367,67.8413244 111.893161,72.430978 108.734,77.69 L108.984,77.69 L108.984,59.69 L67.664,59.69 L67.784,65.69 C67.8773333,69.69 67.9206667,82.0233333 67.914,102.69 C67.9073333,123.356667 67.824,150.323333 67.664,183.59 L108.984,183.59 L108.984,114.44 C108.863974,111.009395 109.330683,107.583486 110.364,104.31 C112.080364,100.125555 114.833435,96.446764 118.364,93.62 C122.138362,90.6735679 126.828501,89.1479454 131.614,89.31 C137.843568,88.8456729 143.863792,91.6662309 147.494,96.75 C151.215937,102.94073 152.989451,110.107958 152.584,117.32 L152.584,183.59 L193.824,183.59 L193.824,112.59 C194.919666,97.5799461 190.272961,82.7140655 180.824,71 L180.824,71 Z" id="news-article_actions_share_linked-in" fill="#545454"></path>
              </g>
          </svg>
        </a>
        <a href="https://twitter.com/intent/tweet?url={{social_url}}" target="_blank" class="news-article_actions_share_twitter">
          <svg width="247px" height="200px" viewBox="0 0 247 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M246.437146,23.0289715 L223.351744,46.0630731 C223.351744,46.0630731 223.351744,43.9648665 223.351744,49.90038 C223.351744,54.1019232 222.669442,58.1239133 221.684465,62.0279114 C221.150936,93.7164738 211.034399,135.716516 169.485805,168.882544 C87.75322,234.101371 0.192853519,176.552028 0.192853519,176.552028 C69.4490609,176.552028 69.4490609,153.523056 69.4490609,153.523056 C54.0587926,153.523056 23.278256,122.824601 23.278256,122.824601 C30.9733901,130.499215 46.3636584,122.824601 46.3636584,122.824601 C7.88798767,99.8007599 7.88798767,76.7615282 7.88798767,76.7615282 C15.5831218,84.436142 30.9733901,76.7615282 30.9733901,76.7615282 C-7.50228064,46.0630731 15.5831218,7.6746138 15.5831218,7.6746138 C23.278256,46.057943 123.315,61.4123006 123.315,61.4123006 L124.587262,60.7710395 C123.807489,57.2620583 123.315,49.8029083 123.315,46.0630731 C123.315,18.4991025 145.71297,4.66116035e-12 173.333372,4.66116035e-12 C188.538957,4.66116035e-12 201.995182,6.91536056 211.167782,17.5962068 L215.65661,15.3492276 L238.742012,0.00513008944 L223.351744,30.7035853 L246.437146,23.0289715 Z" id="news-article_actions_share_twitter" fill="#545454"></path>
              </g>
          </svg>
        </a>
        <a href="https://www.facebook.com/sharer.php?u={{social_url}}" target="_blank" class="news-article_actions_share_facebook">
          <svg width="91px" height="200px" viewBox="0 0 91 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M90.3070684,64.774044 L59.5538818,64.774044 L59.5538818,43.9745075 C59.1761199,41.5147543 59.9145755,39.0146409 61.5681842,37.1548913 C63.2217929,35.2951417 65.6183934,34.2693789 68.1054461,34.3568946 L89.8088065,34.3568946 L89.8088065,0.115874855 L59.9188876,0 C26.7381228,0 19.188876,25.5504056 19.188876,41.8887601 L19.188876,64.774044 L0,64.774044 L0,100.057937 L19.2062572,100.057937 L19.2062572,200 L59.571263,200 L59.571263,100.057937 L86.801854,100.057937 L90.3070684,64.774044 Z" id="news-article_actions_share_facebook" fill="#545454"></path>
              </g>
          </svg>
        </a>
        <a href="mailto:?subject={{title}}&body={{social_url}}" target="_blank" class="news-article_actions_share_email">
          <svg width="303px" height="200px" viewBox="0 0 303 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M0.994055175,0 L0.994055175,200 L302.713644,200 L302.713644,0 L0.994055175,0 Z M151.855403,123.508296 L28.1022062,14.8351426 L275.605493,14.8351426 L151.855403,123.508296 Z M102.557628,99.964881 L15.8291978,176.125906 L15.8291978,23.8032341 L102.557628,99.964881 Z M113.798821,109.837986 L151.851674,143.255129 L189.904527,109.837986 L275.68319,185.164857 L28.0245093,185.164857 L113.798821,109.837986 Z M201.146341,99.9686104 L287.87788,23.8032341 L287.87788,176.125906 L201.146341,99.9686104 Z" id="news-article_actions_share_mail" fill="#545454"></path>
              </g>
          </svg>
        </a>
        <a href="https://plus.google.com/share?url={{social_url}}" target="_blank" class="news-article_actions_share_google-plus">
          <svg width="315px" height="200px" viewBox="0 0 315 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M280.19802,82.1782178 L280.19802,47.5247525 L255.445545,47.5247525 L255.445545,82.1782178 L219.80198,82.1782178 L219.80198,106.930693 L255.445545,106.930693 L255.445545,142.574257 L280.19802,142.574257 L280.19802,106.930693 L314.851485,106.930693 L314.851485,82.1782178 L280.19802,82.1782178 Z M100,80.1980198 L100,119.80198 C100,119.80198 138.419802,119.750495 154.063366,119.750495 C145.592079,145.424752 132.419802,159.405941 100,159.405941 C67.1910891,159.405941 41.5841584,132.808911 41.5841584,100 C41.5841584,67.1910891 67.1910891,40.5940594 100,40.5940594 C117.346535,40.5940594 128.549505,46.6910891 138.825743,55.1891089 C147.051485,46.9633663 146.364356,45.7910891 167.292079,26.0277228 C149.526733,9.85742574 125.914851,0 100,0 C44.7712871,0 0,44.7712871 0,100 C0,155.227723 44.7712871,200 100,200 C182.551485,200 202.728713,128.118812 196.039604,80.1980198 L100,80.1980198 Z" id="news-article_actions_share_google-plus" fill="#545454"></path>
              </g>
          </svg>
        </a>
      </nav>
      <div class="line hidden rtl"><span></span></div>
      {% if next_post %}
        <a href="{{next_post}}" class="button gold hollow next bold" data-aos="fade-left" data-aos-once="true" data-aos-easing="ease-in-out-quart" data-aos-duration="750">Next News Article</a>
      {% endif %}
    </footer>
  </div>
</section>
{% endblock %}
